<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TomatoCare AI</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header class="header">
    <h1>TomatoCare</h1>
    <p>Tomato Ripeness Detection and Harvest Recommendation System</p>
</header>

<nav class="nav">
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
</nav>

<main class="container">
    {% block content %}{% endblock %}
</main>

<footer class="footer">
    <p>© 2026 TomatoCare AI</p>
</footer>

<!-- JS -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>